<form #createForm="ngForm" (ngSubmit)="create(createForm)">
    <div class="form-group">
        <label for="create-form.title">Titre</label>
        <input 
          type="text" id="create-form.title" name="title"
          [(ngModel)]="todo.title"
          required #title="ngModel"
        >
        <p [hidden]="title.untouched || title.valid" class="error">Pouvez-vous ajouter un titre SVP ?</p>
    </div>
    <div class="form-group">
        <label for="create-form.description">Description</label>
        <input 
          type="text" id="create-form.description" name="description"
          [(ngModel)]="todo.description"
        >
    </div>
    <div class="form-group">
        <label for="create-form.deadline">Echeance</label>
        <input 
          type="date" id="create-form.deadline" name="deadline" 
          [(ngModel)]="endDateString" #endDate="ngModel" #endDateElt
          [min]="today"
        >
        <p [hidden]="endDate.untouched || endDateElt.validity.valid" class="error">Veuillez entrer une date valide</p>
    </div>
    <button [disabled]="createForm.invalid">On y va !</button>
</form>
