<h2>
  Vous avez {{ todos.size }} tache(s) &#9884;
</h2>
<ul>
    <li *ngFor="let todo of todos | keyvalue; index as i">
        <a [routerLink]="['/detail', todo.key]">{{ todo.value.title }}</a>
    </li>
</ul>
