<article *ngIf="todo">
<h2>
    {{ todo.title }}
</h2>
<p>
    {{ todo.description }}
</p>
<p>
    Echeance: {{ todo.deadline | date: 'fullDate' }}
</p>
</article>

<article *ngIf="!todo">
    <h2>Selectionnez une tache</h2>
</article>
